{% extends "base.html" %}
{% set is_secondary_page = True %}
{% block header %}{% endblock %}
{% block content %}
<h2>{% block title %}Story Time{% endblock %}</h2>
<!-- wraps block in a signal definition; should probably be a component -->
<div id="story-time-wrapper" data-signals="{
  paused: false,
  wps: 5,
  connId: '',
  offset: 0
}">
  <header>
    <ul>
      <li data-class:active="$selectedBook == '1'">
        <button data-on:click="@get('/demos/story-time/read/common-sense--thomas-paine');$selectedBook='1';$paused=false" title="Common Sense, by Thomas Paine"><img src="/static/books/common-sense-cover.jpg" alt="book cover for Common Sense, by Thomas Paine"></button>
      </li>
      <li data-class:active="$selectedBook == '2'">
        <button data-on:click="@get('/demos/story-time/read/the-souls-of-black-folk--web-dubois');$selectedBook='2';$paused=false" title="The Souls of Black Folk, by W.E.B DuBois"><img src="/static/books/the-souls-of-black-folk-cover.jpg" alt="book cover for The Souls of Black Folk, by W.E.B DuBois"></button>
      </li>
      <li data-class:active="$selectedBook == '3'">
        <button data-on:click="@get('/demos/story-time/read/the-secret-of-chimneys--agatha-christie');$selectedBook='3';$paused=false" title="The Secret of Chimneys, by Agatha Christie"><img src="/static/books/the-secret-of-chimneys-cover.jpg" alt="The Secret of Chimneys, by Agatha Christie"></button>
      </li>
    </ul>
  </header>
  <!-- playback controls for book streaming -->
  <div data-show="$connId">
    <button data-on:click="
      $paused = !$paused;
      @post('/demos/story-time/control')
    ">
      <span data-text="$paused ? '▶ Resume' : '⏸ Pause'"></span>
    </button>
    <label>
      Speed:
      <input type="range" min="0" max="1000" step="1"
        data-bind:wps
        data-on:input="@post('/demos/story-time/control')">
      <span data-text="$wps"></span> wps
    </label>
  </div>
  <section id="book-contents"></section>
</div>
{% endblock %}
